apiclient==1.0.3
Django==2.2.24
djangorestframework==3.9.1
google-api-python-client==1.7.3
google-auth-httplib2==0.0.3
httplib2==0.11.3
jsonpickle==0.9.6
oauth2client==4.1.2
requests==2.20.0
slackclient==1.2.1
urllib3==1.24.2
websocket-client==0.48.0